/*
	value: top right bottom left;
}
*/

:root {
	/* Custom Colours */
	--brown: #653239;
	--orangeDark: #EF7722;
	--orangeLight: #FAA533;
	--canvas: #EBEBEB;
	--cerulean: #0BA6DF;
	--steelBlue: #336699;	
}

/* border-box tutorial
When you set the width/height of an element, the 
element often appears bigger than you have set 
(because the element's border and padding are added
to the element's specified width/height).

by default: 
	actual height = height + padding + border
	actual width = width + padding + border
	
using box-sizing: border-box:
	actual width/height = exactly the width/height
		you set in the element
*/
/* all elements: Include padding and border in 
the element's total width and height */
* {	box-sizing: border-box;}

body {
	background-color: var(--canvas);

	/* reserve footer height */
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;	/* 100% of viewport */
}

/* Prevent body from scrolling */
html, body {
	height: 100%;
	overflow: hidden; /* disable global scrolling */
	margin: 0;
}

/* flex tutorial
flex: <flex-grow> <flex-shrink> <flex-basis>;
    flex-grow: how much the item expands 
			   when there’s extra space.
    flex-shrink: how much the item shrinks 
				 when space is tight.
    flex-basis: the item’s initial size 
		before growing or shrinking 
		(auto = use width/height/content).
		
flex: 1 0 auto; -> 
    1 = can grow to take extra space.
    0 = will not shrink smaller than its basis.
    auto = start at its natural/content size.
    Result: fills leftover space if available, 
	but won’t shrink below its content size.
	
flex: 1 1 auto; ->
    1 = can grow.
    1 = can shrink.
    auto = start at natural/content size.
    Result: fills leftover space, but can
	also shrink if space is too tight.
*/


/* gets its own scrollbar */
.body_wrapper {
	overflow-y: auto; /* allow scrolling */
	
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;	

	
	width: 100%;
	height: calc(100vh - 360px); /* 100% of viewport - header height? */
/* 	padding-bottom: 30px; */
	margin-bottom: 30px;
/* 	margin: 0 auto;	 */	/* 0: no top/bottom margin, 
						auto: split equally on both sides
							  whatever horizontal space
							  is left over. */
	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: var(--orangeDark) transparent;
}

/* Main grows and gets its own scrollbar */
.main {
/* 	flex: 1 1 auto; */
	display: block;
	width: 100%;
	max-width: 75%;
	margin: 0 auto;		/* 0: no top/bottom margin, 
						auto: split equally on both sides
							  whatever horizontal space
							  is left over. */
	
/* 	overflow-y: hidden; */	/* disable scrolling */
	padding-bottom: 10%;
}


/*-------------------------------------*/
/*////////// HEADER/FOOTER ////////////*/
/*-------------------------------------*/

nav, header, footer {
	flex-shrink: 0; /* keep their height fixed */
}

.header {
	left: 0;
	top: 0;
	
	width: 100%;
	height: 250px;
	min-height: 250px;
	display: flex;
	align-items: center;		/* vert center */
	justify-content: center;	/* horo center */
	flex-direction: column;	/* make elements stack */
	
	color: var(--canvas);
	background-color: var(--cerulean);	
	position: relative; /* not sticky/fixed */						 
}

/* remove margin padding from text in header */
.header h1,
.header h2 {
	margin: 0;	
	padding: 0;
}

.header h2 {
	font-size: clamp(10px, 4vw, 20px);
}

.footer {
	position: fixed;	/* make sticky */
	left: 0;			/* +right/-left translation */
	bottom: 0;	 		/* +up/-down translation */

	width: 100%;
	height: 30px;
	background-color: var(--cerulean);	
	text-align: center;
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
	
	/* text styling */
	text-transform: uppercase;
	color: var(--canvas);
	font-weight: bold;
	letter-spacing: 0.05rem;
}
/*-------------------------------------*/
/*///// HOROZONTAL BAR STYLING //////////*/
/*-------------------------------------*/

.containerTitle hr {
	background-color: var(--canvas);
	colour: var(--canvas);
}

.body_wrapper hr {
	background-color: black;
}

.header hr {
	color: var(--canvas);
}

.line_decor {
	width: clamp(5px, 20vw, 150px);
	height: 1px;
	background-color: var(--canvas);
	border: none;
	display: inline-block; 
}
/*-------------------------------------*/
/*/////* TEXT, H1-H4, PARAGRAPH ////////*/
/*-------------------------------------*/
body {
	font-family: Montserrat;
	font-size: 14px;
}
p {
	margin-left: 3%;
	margin-top: 2px;
	text-indent: 4ch;
	text-align: justify;
}
h1 {
	font-family: Bebas Neue;
	font-weight: bold;
/* 	font-size: 90px; */
	font-size: clamp(40px, 12vw, 90px);		/* dynamic sizing */
	margin-left: 0px;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
 	font-size: 20px;
	text-align: center;
	letter-spacing: 0.15rem;
	padding-top: 20px;
}
h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2%;
	margin-bottom: 8px;
	letter-spacing: 0.05rem;
}


/*-------------------------------------*/
/*/////////////// LINKS /////////////////////*/
/*-------------------------------------*/
a {
	text-transform: uppercase;
	color: var(--cerulean);
	font-size: 12px;
	letter-spacing: 0.1rem;
	text-align: center;
	margin-top: 20px;
}

a:link {
	color: var(--cerulean);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: var(--steelBlue);
	background-color: transparent;
	text-decoration: none;
}
	
a:hover {
	color: var(--cerulean);
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: var(--orangeDark);
	background-color: transparent;
	text-decoration: underline;
}

/*-------------------------------------*/
/*/////////////// TABLE //////////////////*/
/*-------------------------------------*/

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 20px;
}

th {
	background-color: var(--orangeLight);
	color: var(--cerulean);
	border: 0px;
	padding: 10px;
}

td {
	border: 1px solid var(--orangeLight);
	padding: 5px 10px 5px 10px;
	color: 
}

/*////////////// IMAGE GRID ///////////////////*/

.img_grid_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;
	margin: 10px auto;	/* margin: top/bottom left/right */
}

.grid_img {
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
}

.grid_img img{
	display: block;
	width: 100%;	/* img spans cell */
	height: auto;	/* maintain size ratio */
}

/*-------------------------------------*/
/*/////////////// NAV BAR //////////////////*/
/*-------------------------------------*/
nav {
}

nav a {
	float: left;
	text-align: center;
	padding: 0 10px;
}

nav a:link,
nav a:visited,
nav a:hover {
	color: var(--canvas);
}

nav a:hover {
	text-shadow: 0 0 5px var(--canvas);
	text-decoration: initial;
}

nav a:active {
	color: var(--orangeDark);
}

nav a.current_page {
	text-shadow: 0 0 5px var(--canvas);
}
