:root {
	/* Custom Colours */
	--brown: #653239;
	--orangeDark: #EF7722;
	--orangeLight: #FAA533;
	--canvas: #EBEBEB;
	--cerulean: #0BA6DF;
	--steelBlue: #336699;	
}

/* all elements: Include padding and border in the element's total width and height */
* {	box-sizing: border-box;}

body {
	background-color: var(--canvas);
	font-family: Montserrat;
	font-size: 14px;
	padding: 0px 0px 75px 0px;
	margin: 0px 0px 75px 0px;
}

/* .containerBody {
	top right bottom left
	margin: 30px 25% 100px 25%;
}
*/


.body_wrapper {
	display: flex;
	flex-direction: column;
	
	margin: 0 auto;		/* top right bottom left */
	
	min-height: 100%;
	max-width: 75%;
}

html, body {
	height: 100%;
}

.header {
	left: 0;
	width: 100%;
	top: 0;
	width: 100%;
	height: 320px;
	display: flex;
	align-items: center;		/* vert center */
	justify-content: center;	/* horo center */
	flex-direction: column;		/* make elements stack */
	
	color: var(--canvas);
	background-color: var(--cerulean);	
}

/* remove margin padding from text in header */
.header h1,
.header h2 {
  margin: 0;	
  padding: 0;
}



.footer {
	position: fixed;	/* make sticky */
	left: 0;			/* +right/-left translation */
	bottom: 0;			/* +up/-down translation */
	width: 100%;
	height: 40px;
	background-color: var(--cerulean);	
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
	
	text-transform: uppercase;
	color: var(--canvas);
	font-weight: bold;
	letter-spacing: 0.05rem;
}

.containerTitle hr {
	/* display: inline-block;  */
	background-color: var(--canvas);
	colour: var(--canvas);
}

.body_wrapper hr {
	background-color: black;
}

/* hr{
	height: 1px;
background-color: var(--canvas);
	border: none;
} */

.header hr {
	/* display: inline-block;  */
	color: var(--canvas);
}

.line_decor {
	height: 1px;
	background-color: var(--canvas);
	border: none;
	display: inline-block; 
}

h1 {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 90px;
	margin-left: 0px;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.15rem;
	padding-top: 20px;
}
h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2%;
	margin-bottom: 8px;
	letter-spacing: 0.05rem;
}
p {
	margin-left: 3%;
	margin-top: 2px;
	text-indent: 25px;
	text-align: justify;
}
a {
	text-transform: uppercase;
	color: var(--cerulean);
	font-size: 12px;
	letter-spacing: 0.1rem;
	text-align: center;
	margin-top: 20px;
}

a:link {
  color: var(--cerulean);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--steelBlue);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--cerulean);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--orangeDark);
  background-color: transparent;
  text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 20px;
}

th {
	background-color: var(--orangeLight);
	color: var(--cerulean);
	border: 0px;
	padding: 10px;
}

td {
	border: 1px solid var(--orangeLight);
	padding: 5px 10px 5px 10px;
	color: 
}

.img_grid_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;
	margin: 10px auto;	/* margin: top/bottom left/right */
}

.grid_img {
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
}

.grid_img img{
	display: block;
	width: 100%;	/* img spans cell */
	height: auto;	/* maintain size ratio */
}

/* width */
::-webkit-scrollbar {
/* 	padding-top: 320px;
    padding-bottom: 40px; */
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orangeDark);
	box-shadow: 0 0 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orangeDark); 
  box-shadow: 0 0 5px (--orangeLight);
/*   box-sizing: border-box;
  border: 3px solid black; */
}

::-webkit-scrollbar-corner {
	background: purple;
}