:root {
	/* Custom Colours */
	--brown: #653239;
	--orangeDark: #EF7722;
	--orangeLight: #FAA533;
	--canvas: #EBEBEB;
	--cerulean: #0BA6DF;
	--steelBlue: #336699;	
}

/* Include padding and border in the element's total width and height:*/
* {	box-sizing: border-box;}

body {
	background-color: var(--canvas);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: light;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
header {
	background-color: var(--cerulean);
	color: var(--canvas);
}

.containerTitle {
	text-align: center;
	padding: 50px 50px 50px 50px;
	margin: 0px 0px 0px 0px;
}

.containerBody {
	/* top right bottom left */
	margin: 30px 25% 100px 25%;
}

hr{
	height: 1px;
	background-color: #FFFFFF;
	border: none;
}
h1 {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 90px;
	margin-left: 0px;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.15rem;
	padding-top: 20px;
}
h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2%;
	margin-bottom: 8px;
	letter-spacing: 0.05rem;
}
p {
	margin-left: 3%;
	margin-top: 2px;
	text-indent: 25px;
	text-align: justify;
}
a {
	text-transform: uppercase;
	color: var(--cerulean);
	font-size: 12px;
	letter-spacing: 0.1rem;
	text-align: center;
	margin-top: 20px;
}

a:link {
  color: var(--cerulean);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--steelBlue);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--cerulean);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--orangeDark);
  background-color: transparent;
  text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 20px;
}

th {
	background-color: var(--orangeLight);
	color: var(--cerulean);
	border: 0px;
	padding: 10px;
}

td {
	border: 1px solid var(--orangeLight);
	padding: 5px 10px 5px 10px;
	color: 
}

.img_grid_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;
	margin: 10px auto;	/* margin: top/bottom left/right */
}

.grid_img {
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
}

.grid_img img{
	display: block;
	width: 100%;	/* img spans cell */
	height: auto;	/* maintain size ratio */
}