/*
	value: top right bottom left;
}
*/

:root {
	/* Custom Colours */
	--brown: #653239;
	--orangeDark: #EF7722;
	--orangeLight: #FAA533;
	--canvas: #EBEBEB;
	--cerulean: #0BA6DF;
	--steelBlue: #336699;	
}

/* all elements: Include padding and border in 
the element's total width and height */
* {	box-sizing: border-box;}

body {
	background-color: var(--canvas);

	/* reserve footer height */
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;	/* 100% of viewport */
}

/* Prevent body from scrolling */
html, body {
	height: 100%;
	overflow: hidden; /* disable global scrolling */
	margin: 0;
}

/* gets its own scrollbar */
.body_wrapper {
	overflow-y: auto; /* allow scrolling */
	
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;	

	width: 100%;
	height: calc(100vh - 360px); /* 100% of viewport - header height? */
	margin-bottom: 30px;
}

/* contains main page elements */
.main {
	display: block;
 	width: clamp(100px, 75vw, 600px);
	margin: 0 auto;	
	padding-top: 2%;
	padding-bottom: 7.5%; /* breathing room page bottom */
}


/*-------------------------------------*/
/*////////// FOOTER ////////////*/
/*-------------------------------------*/

footer {
	flex-shrink: 0; /* keep height fixed */
}

.footer {
	position: fixed;	/* make sticky */
	left: 0;			/* +right/-left translation */
	bottom: 0;	 		/* +up/-down translation */

	width: 100%;
	height: 30px;
	background-color: var(--cerulean);	
	text-align: center;
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
	
	/* text styling */
	text-transform: uppercase;
	color: var(--canvas);
	font-weight: bold;
	letter-spacing: 0.05rem;
}


/*-------------------------------------*/
/*//// H2 WRAPPER W LINE DECOR ////////*/
/*-------------------------------------*/
.h2_decorated {
	width: clamp(80px, 62.5vw, 500px);
	container-type: inline-size;	/* to make hr dynamic width */
	margin: auto;
	margin-top: 20px;
	
	justify-content: center;
	text-align: center;	
	align-items: center;
	
	display: flex;
	flex-direction: row;
}

.h2_decorated h2 {
	padding: 0;
	margin: 0;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.h2_decorated hr {
	color: black;
}

hr {
	flex: 1;	/* fill remaining width */
	margin: 0;
	
	background-color: black;
	height: 1px;
	border: none;
}

/*-------------------------------------*/
/*///// TEXT, H1-H4, PARAGRAPH ////////*/
/*-------------------------------------*/
body {
	font-family: Montserrat;
	font-size: 14px;
}
p {
	margin-left: 3%;
	margin-top: 2px;
	text-indent: 2ch;
	text-align: justify;
	
	margin-bottom: 2px;
}

/* blocks of text should be contained in these  */
.p_container {
	margin-top: 8px;
}

/* h1 is only used in title, most styling is in
header.css */
h1 {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 90px;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
 	font-size: 20px;
	text-align: center;
	letter-spacing: 0.15rem;
	padding-top: 20px;
}
h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 2%;
	margin-bottom: 0;
	letter-spacing: 0.05rem;
}

/* remove space between h2 and h3 */
.after_h2 {
	margin-top: 0;
}


/*-------------------------------------*/
/*//////////// LINKS //////////////////*/
/*-------------------------------------*/
a {
	text-transform: uppercase;
	color: var(--cerulean);
	font-size: 12px;
	letter-spacing: 0.1rem;
	text-align: center;
	margin-top: 20px;
}

a:link {
	color: var(--cerulean);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: var(--steelBlue);
	background-color: transparent;
	text-decoration: none;
}
	
a:hover {
	color: var(--cerulean);
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: var(--orangeDark);
	background-color: transparent;
	text-decoration: underline;
}

/*-------------------------------------*/
/*/////////////// TABLE ///////////////*/
/*-------------------------------------*/

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 20px;
}

th {
	background-color: var(--orangeLight);
	color: var(--cerulean);
	border: 0px;
	padding: 10px;
}

td {
	border: 1px solid var(--orangeLight);
	padding: 5px 10px 5px 10px;
	color: 
}

/*-------------------------------------*/
/*////////// IMAGE GRID ///////////////*/
/*-------------------------------------*/

.img_grid_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;
	margin: 20px auto;	/* margin: top/bottom left/right */
}

.grid_img {
	display: flex;
	align-items: center;	/* vert center */
	justify-content: center; /* horo center */
}

.grid_img img{
	display: block;
	width: 100%;	/* img spans cell */
	height: auto;	/* maintain size ratio */
}

/*-------------------------------------*/
/*/////////////// NAV BAR //////////////////*/
/*-------------------------------------*/
nav {
	flex-shrink: 0; /* keep height fixed */
}

nav a {
	float: left;
	text-align: center;
	padding: 0 10px;
}

nav a:link,
nav a:visited,
nav a:hover {
	color: var(--canvas);
}

nav a:hover {
	text-shadow: 0 0 5px var(--canvas);
	text-decoration: initial;
}

nav a:active {
	color: var(--orangeDark);
}

nav a.current_page {
	text-shadow: 0 0 5px var(--canvas);
}
