

/* Firefox */
.body_wrapper {
	scrollbar-width: thin;
	scrollbar-color: var(--orangeDark) transparent;
}

/* Custom scrollbar */
.body_wrapper::-webkit-scrollbar {
	width: 8px;
	margin: 0 0vh;
	
}

/* Track */
.body_wrapper::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.body_wrapper::-webkit-scrollbar-thumb {
	background: var(--orangeDark);
	border-radius: 6px;
	box-shadow: 0 0 0;
}

/* Handle on hover */
.body_wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--orangeLight); 
  box-shadow: 0 0 5px var(--orangeLight);
}