
header {
	flex-shrink: 0; /* keep height fixed */
}

.header {
	left: 0;
	top: 0;
	
	width: 100%;
	height: 250px;
	min-height: 250px;
	display: flex;
	align-items: center;		/* vert center */
	justify-content: center;	/* horo center */
	flex-direction: column;	/* make elements stack */
	
	color: var(--canvas);
	background-color: var(--cerulean);	
	position: relative; /* not sticky/fixed */						 
}

h1 {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 90px;
}

/*-------------------------------------*/
/*/////////// TITLE WRAPPER //////////*/
/*-------------------------------------*/
	  
.title_wrapper {
 	width: clamp(220px, 75vw, 460px); /* dynamic width */
	display: flex;
	flex-direction: column;
	flex: 0 1 auto; 
	align-items: stretch;	/* child elemts stretch to fill */
	
	container-type: inline-size; /* query container? */
}

.title_wrapper h1 {
	font-size: clamp(40px, 18cqw, 90px);  /* cqw: % of query container*/
	margin: 0;
	text-align: center;
	width: 100%;
	margin-bottom: clamp(-0.5rem, 2.5vw, -1.25rem);
	
}

/* hr - h2 - hr on one line, hrs should expand to fill space */
.title_wrapper .subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title_wrapper .subtitle hr {
	flex: 1;	/* fill remaining width */
	margin: 0;		
	border: none; 
	
	background-color: var(--canvas);
	height: 1px;
}

.title_wrapper .subtitle h2 {
 	font-size: clamp(10px, 2.5vw, 20px);
	white-space: nowrap; /* keep on same line */
	margin: 0;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	padding: 0;
}


